<!-- Header -->
<div class="text-center">
  <h1 class="text-uppercase mb-5">
    Ready to Play ?
  </h1>
       <h6>Rock Paper Scissors is a zero sum game that is usually played by two people using their hands and no tools. The idea is to make shapes with an outstretched hand where each shape will have a certain degree of power and will lead to an outcome.</h6>
       <h7>Press Play To Choose Your Hand!</h7>
  <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">You vs Curb</h4>
        </div>
        <div class="card-body">
          <%= image_tag "pl-vs-ai.jpg", class: "game-mode mb-4" %>
          <a class="btn btn-lg btn-block btn-primary" href="<%= play_path %>">Play</a>
        </div>
         </div>
    </div>
</div>
